*{margin: 0;padding: 0;}
body{
    background-color: whitesmoke;
}

nav{
    display: flex;
    background-color: maroon;
    
 
}

li a{
  
  position: relative;
  top: 20px;
  color: white;
  text-decoration: none;
  list-style-type: none;
  margin-top: 10px;
  
}


.bar{
    background-color: red;
    display: flex;
}

.logo{

    width: 80px;
    height: 60px;
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;

}


.section-box{
      background-color:FF5D5DF;
      height: 400px;
      width: 1504px;
    
}

.paragraph{
font-size:larger;
font-family:'Calibri',  monospace;

}

.row {
  display: flex;
  margin-left: 5%;
  justify-content: space-around;
}

.dropbtn {
    background-color: maroon;
    color: white;
    padding: 209
    px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 18px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: maroon;
    display: flex;
   
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



.mother-container{
    background-color: bisque;
    width: 100%;
    height: 70%;
}

.box1{
    background-color: maroon;
    width: 50%;
    height: 50%;
}
 
.box2{
    background-color: red;
    width: 100%;
    height: 100%;
}

.button1{
  width: 100%;
  height: 56%;
  background-color: maroon;
  color: white;
  
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

/*profile pic*/

.profile-pic-div{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 400px;
  left: 200px;

  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
} .nav-links a:hover{
  background-color: #ff000085;
  width: auto;
  height: auto;
padding: 5px;
border-radius: px;
border: 1px solid rgb(255, 255, 255);

}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

html{
  background-color: #ffffff;
}

.testbox {
  margin: 20px auto;
  width: 343px; 
  height: 464px; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
}

input[type=radio] {
  visibility: hidden;
}

form{
  margin: 0 30px;
}

label.radio {
	cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: maroon;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 7.5px;
	left: 4.5px;
	border: 3px solid #ffffff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}

input[type=text],input[type=password]{
  width: 200px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}

input[type=password]{
  margin-bottom: 25px;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: maroon;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

.gender {
  margin-left: 30px;
  margin-bottom: 30px;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

a.button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: maroon; 
  -webkit-box-shadow: 0 3px maroon; 
  -moz-box-shadow: 0 3px maroon; 
  box-shadow: 0 3px maroon;
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:maroon;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

body {
  margin: 0;
}
.container {
  width: 100%;
  height: auto;
}
.profile {
  margin: 20px auto;
  max-width: 200px;
  position: relative;
  border-radius: 50%;
}
.profile:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.profile:hover .overlay p {
  display: block;
}
.profile img {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: auto;
}
.profile .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  border-radius: 50%;
}
.profile .overlay input {
  width: 100%;
  position: absolute;
  opacity: 0;
  bottom: 20px;
  z-index: 2;
  cursor: pointer;
}
.profile .overlay p {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  width: 100%;
  display: none;
}

body {
  margin: 0;
}
.container {
  width: 100%;
  height: auto;
}
.profile {
  margin: 20px auto;
  max-width: 200px;
  position: relative;
  border-radius: 50%;
}
.profile:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.profile:hover .overlay p {
  display: block;
}
.profile img {
  display: block;
  width: 100%;
  border-radius: 50%;
  height: auto;
}
.profile .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  height: 100%;
  border-radius: 50%;
}
.profile .overlay input {
  width: 100%;
  position: absolute;
  opacity: 0;
  bottom: 20px;
  z-index: 2;
  cursor: pointer;
}
.profile .overlay p {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  width: 100%;
  display: none;
}






