*{margin: 0;padding: 0;}
body{
    background-color: whitesmoke;
}

nav{
    display: flex;
    background-color: maroon;
   
    
 
}

li a{
  
  position: relative;
  top: 20px;
  color: #151414;
  text-decoration: none;
  list-style-type: none;
}

.bar{
    background-color: red;
    display: flex;
}

.logo{

    width: 80px;
    height: 60px;
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 100%;

}


.section-box{
      background-color:FF5D5DF;
      height: 400px;
      width: 1504px;
    
}

.paragraph{
font-size:larger;
font-family:'Calibri',  monospace;

}

.row {
  display: flex;
  margin-left: 5%;
  justify-content: space-around;
}

.dropbtn {
    background-color: maroon;
    color: black;
    padding: 209 px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: red;
    display: flex;
   
  
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}



.mother-container{
    background-color: bisque;
    width: 100%;
    height: 70%;
}

.box1{
    background-color: aqua;
    width: 50%;
    height: 50%;
}
 
.box2{
    background-color: red;
    width: 100%;
    height: 100%;
}

.button1{
  width: 100%;
  height: 56%;
  background-color: maroon;
  color: white;
  
}
.opa{
  justify-content: 10px;
  }

.para-one{
  float: left;
}



.box-one{
  width: 50%;
  height: 50%;
  background-color: beige;
}

.site-footer
{
  background-color:maroon;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
margin-bottom: 20;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}


.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}

.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background:red;
}
.footer-widget ul li {
display: inline-block;

width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: red;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid 293462;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #2E2E2E;
  padding: 13px 20px;
  border: 1px solid  #2E2E2E;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: maroon;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: white;
}
.copyright-text p a{
color: white;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: red;
}
.footer-menu li a {
font-size: 14px;
color: white;
}





  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
