html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  max-width: 55rem;
  font-family: 'Raisonne' !important;
  color: #009eb1;
}

/*---------- Buttons ----------*/
.ct-div-block.btn svg {
  max-width: 22px;
  max-height: 22px;
}

.ct-div-block.btn > * + * {
  margin-left: 5px;
}

.ct-div-block.btn-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ct-div-block.btn-icon-only {
  min-height: 50px;
  min-width: 50px;
  padding: 0 !important;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-hover.btn-inv:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #009eb1 !important;
}

.btn-disabled {
  background-color: #f2f2f2 !important;
  color: #cccccc !important;
  border-color: #f2f2f2 !important;
}

.category-picker .btn-disabled:hover {
  background-color: #009eb1 !important;
  color: #ffffff !important;
  border-color: #009eb1 !important;
}

@media (max-width: 767px) {
  .button-wide-tab {
    width: 100% !important;
  }
}

/*---------- Navigation ----------*/
.nav-logo {
  max-width: 250px;
}

.nav-sticky .nav-logo {
  max-width: 190px;
}

.nav .mobi-icon {
  display: none !important;
}

.home-circle {
  display: none !important;
}

@media (max-width: 1120px) {
  .nav .nav-menu {
    display: none;
  }
  .nav .mobi-icon {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 600px) {
  .nav .mobi-icon .ct-text-block {
    display: none !important;
  }
  .nav .mobi-icon {
    border-color: #ececec;
  }
}

@media (max-width: 542px) {
  .nav .nav-action-btn {
    display: none !important;
  }
  .nav .mobi-icon {
    border-color: transparent;
  }
}

@media (max-width: 479px) {
  .meta-nav {
    display: none !important;
  }
  .ct-div-block.btn.mobi-icon {
    padding: 2px 5px !important;
    border: none  !important;
  }
  .nav-logo {
    width: 200px !important;
  }
}

/*---------- Footer ----------*/
.footer-rep a {
  color: #ffffff !important;
}

footer a {
  color: #ffffff !important;
}

/*---------- Owl Spacing ----------*/
.owl-row,
.owl-row-mobi, .owl-row-tab,
.owl-row-lap, .owl-row-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 10px) {
  .owl-row > * + * {
    margin-left: 0.9244519999999999rem !important;
    margin-left: clamp(0.5rem, calc(0.5rem + ((1vw - 0.32rem) * 0.5208)), 1rem) !important;
  }
}

@media (min-width: 480px) {
  .owl-row-mobi > * + * {
    margin-left: 0.8rem;
  }
}

@media (min-width: 768px) {
  .owl-row-tab > * + * {
    margin-left: 0.8rem;
  }
}

@media (min-width: 992px) {
  .owl-row-lap > * + * {
    margin-left: 0.8rem;
  }
}

@media (min-width: 1280px) {
  .owl-row-pc > * + * {
    margin-left: 0.8rem;
  }
}

/*---------- Flex ----------*/
.flex-row, .flex-col,
.flex-row-stretch, .flex-col-stretch,
.flex-row-center, .flex-col-center,
.flex-row-center-all, .flex-col-center-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row, .flex-row-stretch,
.flex-row-center, .flex-row-center-all {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col, .flex-col-stretch,
.flex-col-center, .flex-col-center-all {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row-stretch, .flex-col-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-row-center, .flex-col-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* new FLEX*/
.flex-spread {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-stretch-v {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-spread {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*---------- Contact Icons ----------*/
/*---------- Search  ----------*/
.search-bar {
  border: 1px solid #ececec;
  padding-right: 10px;
  border-radius: 5px;
}

.search-bar input {
  border: none;
  padding-left: 8px;
  outline-width: 0;
  color: #999;
}

.search-bar .ct-fancy-icon {
  cursor: pointer !important;
}

.search-bar .ct-fancy-icon > svg {
  color: #009EB1;
  max-width: 20px;
  max-height: 35px;
}

div.btn.open-search {
  display: none !important;
}

/*---------- Padding ----------*/
@media (min-width: 992px) {
  .padding-r-sm-lap {
    padding-right: 1.8489855rem !important;
    padding-right: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 1.0417)), 2rem) !important;
  }
}

@media (min-width: 992px) {
  .padding-r-md-lap {
    padding-right: 2.8489855rem !important;
    padding-right: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
  }
}

@media (min-width: 992px) {
  .padding-r-lg-lap {
    padding-right: 4.2734375rem !important;
    padding-right: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 1.5625)), 4.5rem) !important;
  }
}

@media (min-width: 992px) {
  .padding-l-sm-lap {
    padding-left: 1.8489855rem !important;
    padding-left: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 1.0417)), 2rem) !important;
  }
}

@media (min-width: 992px) {
  .padding-l-md-lap {
    padding-left: 2.8489855rem !important;
    padding-left: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
  }
}

@media (min-width: 992px) {
  .padding-l-lg-lap {
    padding-left: 4.2734375rem !important;
    padding-left: clamp(3rem, calc(3rem + ((1vw - 0.32rem) * 1.5625)), 4.5rem) !important;
  }
}

@media (min-width: 767px) {
  .padding-r-sm-tab {
    padding-right: 1.8489855rem !important;
    padding-right: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 1.0417)), 2rem) !important;
  }
}

@media (min-width: 767px) {
  .padding-r-md-tab {
    padding-right: 2.8489855rem !important;
    padding-right: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
  }
}

@media (min-width: 767px) {
  .padding-l-sm-tab {
    padding-left: 1.8489855rem !important;
    padding-left: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 1.0417)), 2rem) !important;
  }
}

@media (min-width: 767px) {
  .padding-l-md-tab {
    padding-left: 2.8489855rem !important;
    padding-left: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
  }
}

/*---------- No Spacing ----------*/
.no-padding, .no-padding .ct-section-inner-wrap {
  padding: 0 !important;
}

.no-padding-top, .no-padding-top .ct-section-inner-wrap {
  padding-top: 0 !important;
}

.no-padding-bottom, .no-padding-bottom .ct-section-inner-wrap {
  padding-bottom: 0 !important;
}

.no-padding-v, .no-padding-v .ct-section-inner-wrap {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.no-padding-left, .no-padding-left .ct-section-inner-wrap {
  padding-left: 0 !important;
}

.no-padding-right, .no-padding-right .ct-section-inner-wrap {
  padding-right: 0 !important;
}

.no-owl {
  margin-top: 0 !important;
}

/*---------- Text ----------*/
.body-max {
  max-width: 600px;
}

.text-muted {
  color: #ccc;
}

.text-accent {
  color: #009eb1;
}

.text-accent-muted {
  color: #9ed4d8;
}

/*---------- General ----------*/
.hide {
  display: none;
}

/*---------- Form Styles ----------*/
.rl-form {
  width: 100%;
}

.rl-form label {
  line-height: 42px;
  margin-bottom: 10px;
  font-size: 1.3924615rem !important;
  font-size: clamp(1.35rem, calc(1.35rem + ((1vw - 0.32rem) * 0.0521)), 1.4rem) !important;
}

.rl-form input, .rl-form select, .rl-form textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1.3924615rem !important;
  font-size: clamp(1.35rem, calc(1.35rem + ((1vw - 0.32rem) * 0.0521)), 1.4rem) !important;
  border: 1px solid #cccccc;
  padding: 10px 13px;
  border-radius: 5px;
  margin-bottom: 0.9244519999999999rem !important;
  margin-bottom: clamp(0.5rem, calc(0.5rem + ((1vw - 0.32rem) * 0.5208)), 1rem) !important;
}

.rl-form textarea {
  height: 150px;
  resize: vertical;
}

.rl-form select {
  display: block;
  width: 50%;
  min-width: 200px;
  padding: 200px;
}

.rl-form input[type="radio"],
.rl-form input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.rl-form .checks-title {
  display: block;
  margin-top: 2.8489855rem !important;
  margin-top: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
}

@media (min-width: 991px) {
  .doop {
    margin-top: 2.8489855rem !important;
    margin-top: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 1.0417)), 3rem) !important;
  }
}
/*# sourceMappingURL=rl-globals.css.map */